@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

body {
    font-family: Roboto, serif;
    background: linear-gradient(90deg, #ae00ff 23%, #0d0c0c 86%);
}

p {
    color: aqua;
}

.row .card {
    box-shadow: 0px 0px 29px 3px #143cdb inset, 5px 5px 10px 1px #000000;
    background: linear-gradient(90deg, #ae00ff 23%, #0d0c0c 86%);
    color: aqua;
}

.nav-link {
    color: aqua;
}
.navbar-nav .nav-link.active {
    color: rgb(142, 209, 209);
}

.logoimg {
    width: 2.5em;
}
.navbar-toggler {
    background-color: aqua;
}
.side_bar {
    color: aqua;
    background: linear-gradient(270deg, #745b80 23%, #0d0c0c 86%);
}

.row a {
    text-decoration: none;
    color: aqua;
}
.side_bar a {
    text-decoration: none;
    color:#143cdb;
}
.colums {
    width: 40%;
}
.colums1 {
    display: flex;
    justify-content: center;
}
.footer-text {
    color: aqua;
}

.margines {
    background-color:#0d0c0c;
}

.callimages {
    animation: myAnim 3s linear 0s 99999 alternate forwards;
}

.btn-primary {
    background: linear-gradient(270deg, #745b80 23%, #0d0c0c 86%);
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 775px) {
    .carousel-indicators {
        display: none;
    }
}
.mediafooter {
    display: flex;
    justify-content: center;
    align-items: center;
}